#nav-tree {
  background-color : transparent;
  background-image : none;
}

#nav-tree-contents {
  margin : 6px 16px 0px;
}

#nav-tree a {

}

#nav-tree .selected {
  background-image: none;
}

#nav-tree .label a:hover,
#nav-tree .selected .label a {
  background-image      : none;
  background-color      : #888;
  padding: 4px 8px;

  -moz-border-radius    : 32px;
  -webkit-border-radius : 32px;
  border-radius         : 32px;
}

#nav-tree .label a:hover {
  background-color      : #ddd;
}